@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fira Sans";
  src: url(fonts/FiraSans-Medium.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url(fonts/RobotoCondensed-Regular.ttf);
  font-weight: normal;
}

body {
  background-color: hsl(var(--twc-bg_main));
  color: hsl(var(--twc-text_main));
}

#topbar{
  background-color: #097969;
  width: 100%;
  color: hsl(var(--twc-bg_main));

  font-size: 2em;
  font-family: "Fira Sans";

  padding: 15px;
}

#topbar + .div{
  position: relative;
}

.switch {
  position: absolute;
  display: inline-block;

  top: 1.3em;
  right: 3vmin;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: hsl(var(--twc-button_main));
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #292929;
}

input:focus + .slider {
  box-shadow: 0 0 1px #292929;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#bottomOptions{
  width: 100%;

  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #097969;
  color: hsl(var(--twc-bg_main));

  font-family: 'Roboto Condensed';
  font-size: 1.2em;
}

main{
  font-family: 'Roboto Condensed';
}

#idade{
  background-color: hsl(var(--twc-bg_main));
  color: hsl(var(--twc-text_main)); opacity: .75;
}

#idade::placeholder{
  padding-left: 2px;
}

#bottomOptions select{
  color: #097969;
  overflow: hidden;
  border: none;
  background-color: hsl(var(--twc-bg_main));
}

#radialsPersona{
  float: inline-end;
}

#radialsPersona label{
  padding: 4px;
  cursor: pointer;
}


#radialsOdonto{
  float: inline-end;
}

#radialsOdonto label{
  padding: 4px;
  cursor: pointer;
}

#pflabel{
  border: thin solid hsl(var(--twc-bg_main));
  color:#097969;
  background-color:hsl(var(--twc-bg_main));
}

#solabel{
  border: thin solid hsl(var(--twc-bg_main));
  color:#097969;
  background-color:hsl(var(--twc-bg_main));
}

.selects:hover{
  color: #097969;
  background-color: hsl(var(--twc-bg_main));
}


input[type=radio]{
  cursor: pointer;
  opacity: 0;
  
  width: 15px;
  height: auto;
}

#ages{
  padding-top: 12px;
  padding-left: 5%;
  padding-right: 5%;
}

#ages input{
  width: 70%;
  border: 3px solid #097969;
  padding-left: 10px;
}

#ages button{
  width: 20%;
  font-size: 1.2em;
  float: inline-end;

  background-color: #097969;
  border: 5px solid rgba(9, 121, 105, .5);
  color: hsl(var(--twc-bg_main));
}

#meta{
  width: 70%;
  color: hsl(var(--twc-text_secondary));

  padding-left: 5%;
  padding-right: 3%;

  max-lines: 2;
}

div table{
  width: 100%;
}

#textfields{
  padding-right: 5%;
  padding-left: 5%;
}

.editable{
  border: 3px solid #097969;

  min-width: 45vw;
  min-height: 50vh;

  max-width: 45vw;
  max-height: 50vh;

  padding: 5px;

  overflow-y: scroll;
  scrollbar-color: #097969 hsl(var(--twc-bg_main));
}

#edtb1, #edtb2{
  opacity: .75;
}

tbody{
  table-layout: fixed;
}

.cop{
  font-weight: 800;
  color: hsl(var(--twc-text_secondary));
}

.copTitle{
  font-size: 1.1em;
  padding-left: 5px;
  color: hsl(var(--twc-text_secondary));
}

.copybutton{
  background-color: #097969;
  color: hsl(var(--twc-bg_main));
  padding: 5px;

  margin-left: 1px;
  margin-top: 5px;
}